.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.button {
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: var(--clr-light);
  color: #636363;
  cursor: pointer;
  align-items: center;
  outline: 0;
  display: flex;
  justify-content: flex-start;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background-color: var(--clr-light);
  border-radius: 0 0 0.5em 0.5em;
}

.dropdown-item {
  padding: 8px 12px;
  border-bottom: 1px solid rgba(13, 3, 3, 0.04);
  transition: background var(--speed);
  border-radius: 0.5em;
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: var(--clr-btn);
}
