.filter-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--fb-l);
  height: var(--sb-w);
  margin-top: 10%;
  padding: 0 1.7em;
  color: var(--clr-titles);
  position: absolute;
}

.filter-bar__li,
.filter-bar__li--dark {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: filter 300ms;
  background-color: var(--clr-light);
  border: 1px solid var(--clr-accent);
  font-size: var(--fs-placeholder);
}

.filter-bar__li--dark {
  background-color: var(--clr-dark);
}

.filter-bar__li:hover,
.filter-bar__li--dark:hover {
  cursor: pointer;
}

.filter-bar__search-btn {
  width: 14em;
  border-right: 1px solid var(--clr-accent);
  border-left: none;
  border-radius: 0 5em 5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5em;
  background-color: var(--clr-accent);
}

.filter-bar__search-btn:active {
  background-color: var(--clr-btn);
  color: var(--clr-light);
}
.filter-bar .filter-bar__venue {
  border-radius: 5em 0 0 5em;
}

.filter-bar__date {
  margin-top: 0;
  width: 80%;
  border-left: none;
}

.filter-bar__location {
  width: 60%;
  border-left: none;
  position: relative;
}

.event__icon {
  margin: 0 0.5em 0 0.5em;
}

.fa-magnifying-glass {
  margin-left: 1em;
}

.filter-bar__name,
.filter-bar__name--dark {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: var(--clr-light);
  font-size: var(--fs-body);
}

.filter-bar__name--dark {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.filter-bar__name::-webkit-input-placeholder,
.filter-bar__name--dark::-webkit-input-placeholder {
  font-size: var(--fs-placeholder);
}

.search-btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-placeholder);
}

@media only screen and (max-width: 500px) {
  .filter-bar {
    display: none;
  }
}
