.about,
.about--dark {
  padding: 4em 6.5em;
  color: var(--clr-dark);
  font-size: calc(var(--fs-body) + 0.5em);
  line-height: var(--line-height);
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.about--dark {
  color: var(--clr-light);
  background-color: var(--clr-dark-2);
}

.about--dark p,
.about p {
  margin: 2em 0;
  width: 70%;
  position: relative;
}
#paragraph {
  z-index: 5;
}

@media only screen and (max-width: 800px) {
  .about--dark p,
  .about p {
    width: 100%;
  }
  .about,
  .about--dark {
    padding: 4em 4em;
  }
}

@media only screen and (max-width: 600px) {
  .about,
  .about--dark {
    padding: 4em 2em;
  }
}
@media only screen and (max-width: 500px) {
  .about,
  .about--dark {
    padding: 2em 2em;
  }
}
