/* event card */

.event {
  flex-basis: 22em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  font-size: var(--fs-details);
  color: var(--clr-details);
  height: 39em;
  width: 22em;
  background-color: #fff;
  position: relative;
  transition: box-shadow 0.5s;
  perspective: 1000;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.099);
}

.event:hover {
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.25);
}

.event__image > img {
  width: 100%;
  height: 12rem;
  align-self: center;
  object-fit: cover;
}

.fav-list {
  position: absolute;
  top: 10.5rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--clr-title);
  color: #000;
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  background-color: var(--clr-light);
}

.fav-list .fa-bookmark {
  margin-right: 0;
}

.event__info {
  height: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event__title a,
.event__info-item {
  color: #000;
  line-height: var(--line-height);
}

.event__title a {
  font-size: var(--fs-h4);
}

.event__date {
  font-size: var(--fs-info);
  font-weight: var(--fw-bold);
  color: rgb(225, 89, 89);
  margin: 0.5em 0;
}

.event__time {
  font-size: var(--fs-info);
  font-weight: var(--fw-bold);
  margin-bottom: 0.3em;
}

.event__address {
  font-size: var(--fs-body);
  color: var(--clr-dark);
  margin-bottom: 0.3em;
}

.event__ageLimit {
  font-size: var(--fs-body);
  color: var(--clr-details);
}

.event__info i {
  margin-right: 0.3em;
}
