/* main layout */

.events-cards {
  padding: 3em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.main-event-container--dark {
  width: 100%;
  min-height: 100%;
  background-color: var(--clr-dark-2);
  z-index: -100;
}

.main-event-container--dark,
.main-event-container {
  padding-top: 4.5em;
}

.event-hero,
.event-hero--dark {
  margin-left: auto;
  margin-right: 1.5em;
  width: 80%;
  background: linear-gradient(to top, #272727ba, rgba(91, 66, 66, 0.23)),
    url(../../../public/eventsHero.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
}
.event-hero--dark {
  box-shadow: 0px 10px 8px var(--clr-accent-2);
}

.filter-form,
.filter-form--dark {
  width: 20em;
  height: 20em;
  background-color: #fff;
  position: absolute;
  top: 25%;
  left: -10%;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-form--dark {
  background-color: var(--clr-dark);
  box-shadow: 0px 10px 8px var(--clr-accent-2);
}

.filter-form__li {
  width: 100%;
  height: 100%;
  color: var(--clr-details);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}

.filter-form__title,
.filter-form__title--dark {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  color: var(--clr-dark);
  margin-bottom: 0;
}

.filter-form__title--dark {
  color: var(--clr-light);
}

.filter-form__li .filter-form__name,
.filter-form__li .filter-form__name--dark {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 0.5em;
}

.filter-form__li .button,
.btn-btn {
  padding: 0 0.6em;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0.5em;
  background-color: #fff;
  cursor: pointer;
  align-items: center;
  outline: 0;
  display: flex;
  justify-content: flex-start;
  color: var(--clr-details);
}

.btn-btn--dark,
.filter-form__li .button--dark {
  padding: 0 0.6em;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0.5em;
  background-color: var(--clr-dark);
  cursor: pointer;
  align-items: center;
  outline: 0;
  display: flex;
  justify-content: flex-start;
  color: var(--clr-details);
}

.filter-form__btn .btn-btn,
.filter-form__btn--dark .btn-btn--dark {
  justify-content: center;
  font-size: var(--fs-body);
}

.filter-form__btn .btn-btn:hover,
.filter-form__btn .btn-btn--dark :hover {
  background-color: var(--clr-accent);
}

.filter-form__name--dark {
  color: var(--clr-light);
  background-color: var(--clr-dark);
}

.filter-form__name--dark,
.filter-form__name {
  font-size: var(--fs-body);
}

.filter-form__venue,
.filter-form__venue--dark,
.filter-form__location,
.filter-form__location--dark,
.filter-form__date,
.filter-form__date--dark,
.filter-form__btn .btn-btn,
.filter-form__btn--dark .btn-btn--dark {
  border: 1px solid var(--clr-accent);
  border-radius: 0.5em;
}

.filter-form__location,
.filter-form__location--dark {
  position: relative;
}

.filter-form__location .dropdown,
.filter-form__location--dark .dropdown {
  position: absolute;
  top: 88%;
  left: -1px;
  width: calc(100% + 2px);
  background-color: #fff;
  border: 1px solid var(--clr-accent);
  border-top: none;
}

.dropdown--dark {
  background-color: var(--clr-dark);
}

.filter-form__location--dark .dropdown {
  background-color: var(--clr-dark);
  border: 1px solid var(--clr-accent);
}

.filter-form__date,
.filter-form__date--dark {
  position: relative;
}

.filter-form__date .fa-calendar,
.filter-form__date--dark .fa-calendar {
  position: fixed;
  top: calc(50% - 15em);
  left: calc(50% - 15em);
  width: 29em;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
}
