/* forum styling */
.forum {
  padding: 6.5em 6.5em;
  min-height: 100vh;
}

a {
  z-index: 5;
  color: var(--clr-dark);
}

.forum p {
  z-index: 5;
}

.forum--dark {
  padding: 6.5em 6.5em;
  background-color: var(--clr-dark-2);
  min-height: 100vh;
}

/* thread form */
.thread-create,
.thread-create--dark {
  min-height: 7em;
  width: 70%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--fs-h2);
  font-weight: var(--fw-reg);
  margin-bottom: 1em;
  border-radius: 0.5rem;
  position: relative;
  background-color: #fff;
  transition: box-shadow 0.5s;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.099);
  color: var(--clr-dark);
  z-index: 10;
}

.thread-create--dark {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  box-shadow: 0 1px 15px var(--clr-accent-3);
}

.thread-create--dark:hover {
  box-shadow: 0px 1px 25px var(--clr-accent-2);
}

.thread-create:hover {
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.25);
}

.thread-create__content::-webkit-input-placeholder {
  font-size: var(--fs-h3);
}

.thread-create__content,
.thread-create__title,
.thread-create__content--dark,
.thread-create__title--dark {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.3em;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: var(--fs-h4);
}

.user-thread--dark {
  color: var(--clr-light);
}

.user-name--dark {
  color: var(--clr-light);
}

.thread-create__content--dark,
.thread-create__title--dark {
  color: var(--clr-light);
}

.thread-create__title,
.thread-create__title--dark {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--clr-details);
  font-size: var(--fs-h3);
}

/* threads list */

.thread-list,
.reply-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  width: 70%;
  gap: 2em;
}

.thread-item,
.thread-item--dark {
  border-radius: 0.5em;
  min-height: 7em;
  width: 100%;
  color: var(--clr-dark);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: var(--line-height);
  background-color: #fff;
  transition: box-shadow 0.5s;
  perspective: 1000;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.099);
}

.thread-item--dark {
  background-color: var(--clr-dark);
  box-shadow: 0 1px 15px var(--clr-accent-3);
  color: var(--clr-light);
}

.thread-item:hover {
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.25);
}

.thread-item--dark:hover {
  box-shadow: 0px 1px 25px var(--clr-accent-2);
}

.thread-item p {
  font-weight: var(--fw-bold);
}

.title-container {
  width: 100%;
  height: 100%;
}

.content-container {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.add-thread {
  position: absolute;
  bottom: 2rem;
  right: var(--btn);
  width: var(--btn);
  height: var(--btn);
  border-radius: 50%;
  border: none;
  outline: none;
  color: var(--clr-accent);
  font-size: var(--fs-h3);
  background-color: transparent;
  transition: background 0.5s;
}

.add-thread:hover {
  background-color: #f4e0bc;
}

.big-guy {
  position: fixed;
  top: 4rem;
  right: -8rem;
  color: var(--clr-accent);
  font-size: var(--fs-bigguy);
  z-index: 1;
}

/* replies list */

.thread,
.thread--dark {
  padding: 6.5em 6.5em;
  min-height: 100%;
}

.thread--dark {
  background-color: var(--clr-dark-2);
}

.main-thread,
.main-thread--dark {
  min-height: 7rem;
  width: 90%;
  color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--fs-h3);
  font-weight: var(--fw-reg);
  line-height: 1;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--clr-dark);
  margin-bottom: 2rem;
  z-index: 5;
}

.main-thread--dark {
  color: var(--clr-light);
  border-bottom: 1px solid var(--clr-light);
}

.main-thread h1,
.main-thread--dark h1 {
  margin-bottom: 2rem;
  z-index: 5;
}

.main-thread p {
  color: var(--clr-dark);
  font-size: calc(var(--fs-body) + 0.5rem);
  z-index: 5;
}

.main-thread--dark p {
  color: var(--clr-light);
  font-size: calc(var(--fs-body) + 0.5rem);
  z-index: 5;
}

.reply-item,
.reply-item--dark {
  border-radius: 0.5em;
  min-height: 7em;
  width: 100%;
  color: var(--clr-dark);
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: var(--line-height);
  background-color: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.099);
  z-index: 5;
}

.reply-item--dark {
  background-color: var(--clr-dark);
  box-shadow: 0 1px 15px var(--clr-accent-3);
  color: var(--clr-light);
}

.reply-create,
.reply-create--dark {
  width: calc(70% - 4.5rem);
  height: 4em;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.099);
  margin: 2em 0;
  color: var(--clr-dark);
  position: relative;
  transition: box-shadow 0.5s;
  z-index: 5;
}

.reply-create--dark {
  background-color: var(--clr-dark);
  box-shadow: 0 1px 15px var(--clr-accent-3);
  color: var(--clr-light);
}

.reply-create input,
.reply-create--dark input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 80%;
  font-size: calc(var(--fs-body) + 0.5rem);
  z-index: 5;
}

.reply-create:hover {
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.25);
}

.reply-create--dark:hover {
  box-shadow: 0px 1px 25px var(--clr-accent-2);
}

.reply-create .add-thread,
.reply-create--dark .add-thread {
  right: -3.9rem;
  top: 0.5rem;
  z-index: 5;
}

@media only screen and (max-width: 750px) {
  .thread-create,
  .thread-create--dark {
    width: 100%;
  }

  .thread-list,
  .reply-list {
    width: 100%;
  }

  .main-thread,
  .main-thread--dark {
    width: 100%;
  }

  .reply-create,
  .reply-create--dark {
    width: calc(100% - 4.5em);
  }

  .add-thread {
    right: calc(var(--btn) - 1em);
  }
}
