.home--dark {
  background-color: var(--clr-dark-2);
}

.hero {
  background: linear-gradient(to top, #272727ba, rgba(91, 66, 66, 0.23)),
    url(../../../public/hero2.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding-bottom: 8em;
  padding-top: 8em;
}

.brand-title {
  margin-bottom: auto;
  font-size: var(--fs-h1);
}

/* featured events list */

.featured {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  height: 37em;
  align-items: center;
  padding: 0 1em;
  gap: 0.5em;
}

.featured::-webkit-scrollbar {
  display: none;
}

.featured .event {
  flex: 0 0 auto;
  position: relative;
}

.featured-title,
.featured-title--dark {
  font-size: var(--fs-h2);
  font-weight: var(--fw-reg);
  color: var(--clr-dark);
  margin: 5rem 0 0 2rem;
}

.featured-title--dark {
  color: var(--clr-light);
}

.featured-subtitle,
.featured-subtitle--dark {
  color: var(--clr-titles);
  font-size: var(--fs-body);
  margin: 1.5rem 0 0 2rem;
}

.featured-subtitle--dark {
  color: var(--clr-details-dark);
}

.featured-tag {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  display: flex;
  height: 1.5em;
  width: 6em;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: var(--fw-reg);
  border-radius: 0.2em;
}

/* Happening this week */

.thisWeek-title,
.thisWeek-title--dark {
  font-size: var(--fs-h2);
  font-weight: var(--fw-reg);
  color: var(--clr-dark);
  margin: 4rem 0 0 2rem;
}

.thisWeek-title--dark {
  color: var(--clr-light);
}

.thisWeek-subtitle,
.thisWeek-subtitle--dark {
  color: var(--clr-titles);
  font-size: var(--fs-body);
  margin: 1.5rem 0 0 2rem;
}

.thisWeek-subtitle--dark {
  color: var(--clr-details-dark);
}

.thisWeek {
  margin-top: 2em;
  padding: 0 3em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: none;
  gap: 0.5em;
  height: auto;
}

.loadMore {
  width: 100%;
  height: 2.5em;
  outline: none;
  border: 1px solid var(--clr-accent);
  margin: 2em 0;
  border-radius: 0.5em;
  background-color: var(--clr-light);
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  transition: background 0.5s;
}

.loadMore-off {
  filter: brightness(70%);
  width: 100%;
  height: 2.5em;
  outline: none;
  border: 1px solid var(--clr-accent);
  margin: 2em 0;
  border-radius: 0.5em;
  background-color: var(--clr-light);
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
}

.loadMore:hover {
  background-color: var(--clr-accent);
}

footer {
  width: 100%;
  height: 4rem;
  background-color: var(--clr-dark);
}

.footer__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 2em;
}

.footer__list li {
  margin: 0 0.5em;
}

