.hero {
  background: linear-gradient(to top, #272727ba, rgba(91, 66, 66, 0.23)),
    url(../../../public/hero2.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding-bottom: 8em;
  padding-top: 8em;
}

.brand-title {
  margin-bottom: auto;
  font-size: var(--fs-h1);
}
