.registration-page {
  padding: 4em;
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.25);
  align-items: center;
  height: 20em;
  width: 20em;
  padding: 1em;
  border-radius: 1rem;
  background-color: #fff;
}

.signup-form input,
.submit {
  width: 100%;
  height: 3em;
  outline: none;
  border: none;
  border-radius: 0.5em;
  border: 1px solid var(--clr-accent);
  padding: 0 0.5em;
}

.submit {
  cursor: pointer;
  transition: background 0.5s;
  font-weight: var(--fw-bold);
}

.submit:hover {
  background-color: var(--clr-accent);
}
